<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Synchro. Cloud
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid  *ngIf="! userIsLogged()">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text>
          <b>Vous devez vous connecter pour pouvoir utiliser la fonction "Cloud"</b>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
   
</ion-content>
