<ion-header>
  <ion-toolbar>
    
    <ion-title>
      {{ earning.id == null ? 'Ajouter un' : 'Modifier le' }} gain
    </ion-title>

    <ion-button 
      slot    = "end"
      fill    = "clear"
      color   = "primary"
      (click) = "dismissModal()">
      Fermer
    </ion-button>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <form 
    id          = "earningForm"
    [formGroup] = "earningForm"
    (ngSubmit)  = "submit()" >

    <ion-item>
      <ion-label position="stacked">
        Libelle <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input 
        type            = "text"
        formControlName = "title">
      </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">
        Montant <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input 
        type="number" 
        formControlName="amount">
      </ion-input>
    </ion-item>

  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-button 
      slot       = "start"
      fill       = "clear"
      form       = "earningForm"
      color      = "success"
      type       = "submit"
      [disabled] = "!earningForm.valid" >
      <ion-icon size="large" name="checkmark"></ion-icon>
      &nbsp;{{ earning.id == null ? 'Ajouter' : 'Enregister' }}
    </ion-button>

    <ion-button 
      *ngIf   = "earning.id != null"
      fill    = "clear"
      slot    = "end"
      color   = "danger"
      (click) = "presentDeleteAlert()">
      <ion-icon name="trash"></ion-icon>
      &nbsp;Supprimer
    </ion-button>

  </ion-toolbar>
</ion-footer>