<ion-header>
  <ion-toolbar>
    
    <ion-title>
      {{ spending.id == null ? 'Ajouter une' : 'Modifier la' }} dépense
    </ion-title>

    <ion-button 
      slot    = "end"
      fill    = "clear"
      color   = "primary"
      (click) = "dismissModal()">
      Fermer
    </ion-button>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <form 
    id          = "spendingForm"
    [formGroup] = "spendingForm"
    (ngSubmit)  = "submit()" >

    <ion-item>
      <ion-label position="stacked">
        Libelle <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input 
        type            = "text"
        formControlName = "title">
      </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">
        Montant <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input 
        type="number" 
        formControlName="amount">
      </ion-input>
    </ion-item>

    <common-folder-select 
      [formGroup]="spendingForm">
    </common-folder-select>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-button 
      slot       = "start"
      fill       = "clear"
      form       = "spendingForm"
      color      = "success"
      type       = "submit"
      [disabled] = "!spendingForm.valid"
      (click)    = "submit()" >
      <ion-icon size="large" name="checkmark"></ion-icon>
      &nbsp;{{ spending.id == null ? 'Ajouter' : 'Enregister' }}
    </ion-button>

    <ion-button 
      *ngIf   = "spending.id != null"
      fill    = "clear"
      slot    = "end"
      color   = "danger"
      (click) = "presentDeleteAlert()">
      <ion-icon name="trash"></ion-icon>
      &nbsp;Supprimer
    </ion-button>

  </ion-toolbar>
</ion-footer>