<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Calendrier
    </ion-title>
  </ion-toolbar>

  <common-month-selector></common-month-selector>

  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center" *ngFor="let letter of headerLetters">
          {{letter}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="vertical-align-content"> 
  
  <ion-grid class="m-calendar">
    <ion-row *ngFor="let row of calendarRows">
      <ion-col class="m-calendar__day" *ngFor="let cell of row" (click)="cell.date != null ? presentCellDetails(cell) : ''">
        <div class="m-calendar__day__content">
          <div 
            class="m-calendar__day__content__text" 
            [class.m-calendar__day__content__text_today]="cellDateIsToday(cell)">
            {{ cell.date | date:'d' }}
          </div>
          
          <div class="m-calendar__day__flags">
            <div *ngIf="cellContain('earnings', cell)" class="m-calendar__day__flags__flag m-calendar__day__flags__flag_earnings"></div>
            <div *ngIf="cellContain('spendings', cell)" class="m-calendar__day__flags__flag m-calendar__day__flags__flag_spendings"></div>
            <div *ngIf="cellContain('levies', cell)" class="m-calendar__day__flags__flag m-calendar__day__flags__flag_levies"></div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <common-progress-bar></common-progress-bar>
  </ion-toolbar>
</ion-footer>
