<ion-header>
  <ion-toolbar>
    <ion-title>
      {{title}} {{date | date:'LLLL yyyy'}}
    </ion-title>
    <ion-buttons slot="end">
        <ion-button 
          slot    = "end"
          fill    = "clear"
          color   = "primary"
          (click) = "dismissModal()">
          Fermer
         </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="earnings.length > 0">
    <ion-list-header>
      <ion-label>Gains</ion-label>
    </ion-list-header> 

    <ion-item 
      *ngFor="let earning of earnings" 
      (click)="presentEarningFormModal(earning)">
      <ion-label>{{earning.title}} </ion-label>
      <ion-badge slot="end" color="success">
        + {{earning.amount | currency:'EUR':'symbol' }}
      </ion-badge>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="levies.length > 0">
    <ion-list-header>
      <ion-label>Prélévements</ion-label>
    </ion-list-header> 

    <ion-item *ngFor="let levy of levies" (click)="presentLevyModal(levy)">
      <ion-label>{{levy.title}}</ion-label>
      <ion-badge slot="end" color="warning">
        - {{levy.amount | currency:'EUR':'symbol' }}
      </ion-badge>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="spendings.length > 0">
    <ion-list-header>
      <ion-label>Dépense</ion-label>
    </ion-list-header> 

    <ion-item *ngFor="let spending of spendings" (click)="presentSpendingFormModal(spending)">
      <ion-label>{{spending.title}}</ion-label>
      <ion-badge slot="end" color="danger">
        - {{spending.amount | currency:'EUR':'symbol'}}
      </ion-badge>
    </ion-item>
  </ion-list>

</ion-content>