<ion-header>
  <ion-toolbar>
    
    <ion-title>
      {{ folder.id == null ? 'Ajouter un' : 'Modifier le' }} groupe de dépense
    </ion-title>

    <ion-button 
      slot    = "end"
      fill    = "clear"
      color   = "primary"
      (click) = "dismissModal()">
      Fermer
    </ion-button>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <form 
    id          = "folderForm"
    [formGroup] = "folderForm"
    (ngSubmit)  = "submit()" >
    
    <ion-item>
      <ion-label position="stacked">
        Libelle <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input 
        type            = "text"
        formControlName = "title">
      </ion-input>
    </ion-item>

  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-button 
      slot       = "start"
      fill       = "clear"
      form       = "folderForm"
      color      = "success"
      type       = "submit"
      [disabled] = "!folderForm.valid"
      (click)    = "submit()" >
      <ion-icon size="large" name="checkmark"></ion-icon>
      &nbsp;{{ folder.id == null ? 'Ajouter' : 'Enregister' }}
    </ion-button>

    <ion-button 
      *ngIf   = "folder.id != null"
      fill    = "clear"
      slot    = "end"
      color   = "danger"
      (click) = "presentDeleteAlert()">
      <ion-icon name="trash"></ion-icon>
      &nbsp;Supprimer
    </ion-button>

  </ion-toolbar>
</ion-footer>