<ion-toolbar>
   <ion-buttons slot="start">
      <ion-button 
         size    = "large"
         fill    = "clear"
         color   = "dark"
         shape   = "round"
         (click) = "setMonthTo('previous')" >
         <ion-icon name="arrow-dropleft"></ion-icon>
      </ion-button>
   </ion-buttons>
   <ion-title>
      {{date | date:'LLLL yyyy' | titlecase}} 
   </ion-title>
   <ion-buttons slot="end">
      <ion-button 
         size    = "large"
         fill    = "clear"
         color   = "dark"
         shape   = "round"
         (click) = "setMonthTo('next')">
         <ion-icon name="arrow-dropright"></ion-icon>
      </ion-button>
   </ion-buttons>
</ion-toolbar>