<ion-grid *ngIf = "isInit">
   <ion-row>
      <ion-col class="ion-text-center">
         <ion-text color="success">
            + {{values.earningsSum |currency:'EUR':'symbol' }}
         </ion-text>
      </ion-col>
   </ion-row>

   <ion-row>
      <ion-col>
         <ion-progress-bar 
            [color] = "getProgressBarColor()"
            [value] = "values.progressPercentage" >
         </ion-progress-bar>
      </ion-col>
   </ion-row>

   <ion-row>
      <ion-col size="6" class="ion-text-left">
         <ion-text [color]="getProgressBarColor()">
            - {{values.spendingsSum |currency:'EUR':'symbol' }}
         </ion-text>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
         <ion-text [color]="getProgressBarColor()">
            = {{values.available | currency:'EUR':'symbol' }}
         </ion-text>
      </ion-col>
   </ion-row>
</ion-grid>
