<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ cell.date | date:'EEE dd MMM y' | titlecase }}
    </ion-title>
    <ion-buttons slot="end">
        <ion-button 
          slot    = "end"
          fill    = "clear"
          color   = "primary"
          (click) = "dismissModal()">
          Fermer
         </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="earnings.length > 0">
    <ion-list-header>
      <ion-label>Gains</ion-label>
    </ion-list-header> 

    <ion-item 
      *ngFor="let earning of earnings" 
      (click)="presentEarningFormModal(earning)">
      <ion-label>{{earning.title}} </ion-label>
      <ion-badge slot="end" color="success">
        + {{earning.amount | currency:'EUR':'symbol' }}
      </ion-badge>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="levies.length > 0">
    <ion-list-header>
      <ion-label>Prélévements</ion-label>
    </ion-list-header> 

    <ion-item *ngFor="let levy of levies" (click)="presentLevyModal(levy)">
      <ion-label>{{levy.title}}</ion-label>
      <ion-badge slot="end" color="warning">
        - {{levy.amount | currency:'EUR':'symbol' }}
      </ion-badge>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="spendings.length > 0">
    <ion-list-header>
      <ion-label>Dépense</ion-label>
    </ion-list-header> 

    <ion-item *ngFor="let spending of spendings" (click)="presentSpendingFormModal(spending)">
      <ion-label>{{spending.title}}</ion-label>
      <ion-badge slot="end" color="danger">
        - {{spending.amount | currency:'EUR':'symbol'}}
      </ion-badge>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    
    <ion-fab-button color="dark">
      <ion-icon color="light" name="create"></ion-icon>
    </ion-fab-button>
    
    <ion-fab-list side="top">
      <ion-fab-button color="danger" (click)="presentSpendingFormModal()">
        <ion-icon color="light" name="remove"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="end">
      <ion-fab-button color="success" (click)="presentEarningFormModal()">
        <ion-icon color="light" name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>