<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Connexion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="ion-margin-auto" style="max-width: 400px">
    <ion-avatar class="ion-margin-top ion-margin-auto">
      <img src="./assets/avatar.svg">
    </ion-avatar>

    <form 
      class       = "ion-margin-top"
      id          = "loginForm"
      [formGroup] = "loginForm"
      (ngSubmit)  = "submit()" >
      
      <ion-item>
        <ion-label position="stacked">
          Email <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input 
          autocomplete="off"
          type = "email"
          formControlName = "email">
        </ion-input>
      </ion-item>
        
      <ion-item>
        <ion-label position="stacked">
          Mot de passe <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input 
          autocomplete="off"
          type="password" 
          formControlName="password">
        </ion-input>
      </ion-item>

      <ion-button 
        class      = "ion-margin-top ion-padding-right ion-float-end"
        fill       = "clear"
        form       = "loginForm"
        color      = "primary"
        type       = "submit"
        [disabled] = "!loginForm.valid">
        Connexion
      </ion-button>
    </form>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    
    <ion-buttons slot="end">
      <ion-button 
        slot       = "start"
        fill       = "clear"
        color      = "primary"
        type       = "button" >
        Créer un compte
      </ion-button>
      
      <ion-button 
        slot    = "end"
        fill    = "clear"
        color   = "primary"
        type    = "button">
        Mot de passe oublié
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>