.m-calendar{
   &__day{
      text-align: center;
      position: relative;
      width: 100px; 
      height: 55px;
      &:before{
         content: "";
         display: block;
         padding-top: 100%;
      }
      &__content{
         &__text{
            height: 25px;
            width: 25px;
            display: inline-block;
            line-height: 25px;
            font-size: 16px;
            &_today{
               font-size: 18px;
               font-weight: 800;
               color: var(--ion-color-danger);
            }
         }
      }
      &__content{
         position: absolute;
         top: 50%;
         left: 0;
         right: 0;
         bottom: 0;
         margin-top: -17px;
      }
      &__flags{
         display: flex;
         justify-content: center;
         &__flag{
            display: flex-box;
            width: 7px;
            height: 7px;
            margin: 0 1px 0 1px;
            border-radius: 100%;
            &_earnings{
               background: var(--ion-color-success-shade)
            }
            &_spendings{
               background: var(--ion-color-danger-shade)
            }
            &_levies{
               background: var(--ion-color-warning-shade)
            }
         }
      }
   }
}