<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Statistiques
    </ion-title>
  </ion-toolbar>

  <common-month-selector></common-month-selector>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Totaux</ion-label>
    </ion-list-header>

    <ion-item (click)="presentStatsDetails('earnings')">
      <ion-label>Gains</ion-label>
      <ion-badge slot="end" color="success">
        + {{stats.earningsSum | currency:'EUR':'symbol' }}
      </ion-badge>
    </ion-item>

    <ion-item (click)="presentStatsDetails('levies')">
      <ion-label>Prélévements</ion-label>
      <ion-badge slot="end" color="warning">
        - {{stats.leviesSum | currency:'EUR':'symbol' }}
      </ion-badge>
    </ion-item>
    
    <ion-item (click)="presentStatsDetails('spendings')">
      <ion-label>Dépenses</ion-label>
      <ion-badge slot="end" color="danger">
        - {{stats.spendingsSum | currency:'EUR':'symbol' }}
      </ion-badge>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="stats.folders.length > 0">
    <ion-list-header>
      <ion-label>Groupes</ion-label>
    </ion-list-header>
    
    <ion-item *ngFor="let foldersStats of stats.folders" (click)="presentStatsDetails('folder', foldersStats.folder)">
      <ion-label>
        {{foldersStats.folder.title}}
      </ion-label>
      <ion-badge slot="end" color="danger" *ngIf="foldersStats.spendingsAmountSum > 0">
        - {{foldersStats.spendingsAmountSum | currency:'EUR':'symbol' }}
      </ion-badge>
      <ion-badge slot="end" color="warning" *ngIf="foldersStats.leviesAmountSum > 0">
        - {{foldersStats.leviesAmountSum | currency:'EUR':'symbol' }}
      </ion-badge>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="stats.unclassified != null">
    <ion-list-header>
      <ion-label>Autre</ion-label>
    </ion-list-header>
    
    <ion-item (click)="presentStatsDetails('folder', stats.unclassified.folder)">
      <ion-label>
        {{stats.unclassified.folder.title}}
      </ion-label>
      <ion-badge slot="end" color="danger" *ngIf="stats.unclassified.spendingsAmountSum > 0">
        - {{stats.unclassified.spendingsAmountSum | currency:'EUR':'symbol' }}
      </ion-badge>
      <ion-badge slot="end" color="warning" *ngIf="stats.unclassified.leviesAmountSum > 0">
        - {{stats.unclassified.leviesAmountSum | currency:'EUR':'symbol' }}
      </ion-badge>
    </ion-item>
  </ion-list>

</ion-content>
