<ion-header>
  <ion-toolbar>
    
    <ion-title>
      {{ levy.id == null ? 'Ajouter un' : 'Modifier le' }} prélèvement
    </ion-title>

    <ion-button 
      slot    = "end"
      fill    = "clear"
      color   = "primary"
      (click) = "dismissModal()">
      Fermer
    </ion-button>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <form 
    id          = "levyForm"
    [formGroup] = "levyForm"
    (ngSubmit)  = "submit()" >
    
    <ion-item>
      <ion-label position="stacked">
        Libelle <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input 
        type            = "text"
        formControlName = "title">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Montant <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input 
        type            = "number"
        formControlName = "amount">
      </ion-input>
    </ion-item>

    <common-folder-select 
      [formGroup]="levyForm">    
    </common-folder-select>

    <ion-item>
      <ion-label position="stacked">
        Jour de prélèvement <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-select 
        formControlName = "day"
        okText          = "Valider"
        cancelText      = "Fermer">
          <ion-select-option *ngFor="let day of 31 | range" value="{{day}}">{{day}}</ion-select-option>
       </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Date du premier prélèvement <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input 
        type            = "date"
        formControlName = "start">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Date du dernier prélèvement <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input 
        type            = "date"
        formControlName = "end">
      </ion-input>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-button 
      slot       = "start"
      fill       = "clear"
      form       = "levyForm"
      color      = "success"
      type       = "submit"
      [disabled] = "!levyForm.valid"
      (click)    = "submit()" >
      <ion-icon size="large" name="checkmark"></ion-icon>
      &nbsp;{{ levy.id == null ? 'Ajouter' : 'Enregister' }}
    </ion-button>

    <ion-button 
      *ngIf   = "levy.id != null"
      fill    = "clear"
      slot    = "end"
      color   = "danger"
      (click) = "presentDeleteAlert()">
      <ion-icon name="trash"></ion-icon>
      &nbsp;Supprimer
    </ion-button>

  </ion-toolbar>
</ion-footer>