<ion-item [formGroup]="formGroup" *ngIf="isInit">
   <ion-label position="stacked">
      Groupe de dépense
   </ion-label>
   <ion-select 
      [disabled]      = "folders.length == 0"
      formControlName = "folder_id"
      okText          = "Valider"
      cancelText      = "Fermer" >
      <ion-select-option 
         *ngFor = "let folder of folders"
         value  = "{{folder.id}}">
         {{folder.title}}
      </ion-select-option>
   </ion-select>
</ion-item>
