<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Groupes de dépense
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="folders.length == 0">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text>
          <b>Aucun groupe de dépense n'est configuré pour le moment.</b>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="folders.length > 0">
    <ion-item (click)="presentFolderModal(folder)" *ngFor="let folder of folders">
      {{folder.title}}
    </ion-item>
  </ion-list> 
   
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="dark" (click)="presentFolderModal()">
      <ion-icon color="light" name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>