<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Prélèvements
    </ion-title>
  </ion-toolbar>

  <common-month-selector></common-month-selector>
</ion-header>

<ion-content>  
  
  <ion-grid  *ngIf="levies.length == 0">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text>
          <b>Aucun prélèvement n'est prévu ! 😎</b>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
 
  <ion-list *ngIf="levies.length > 0">
    <ion-item (click)="presentLevyModal(levy)" *ngFor="let levy of levies | orderByDay">
      <ion-label>
        {{levy.day | zeroPadding }} : {{levy.title}}
      </ion-label> 
      <ion-badge slot="end" color="warning">
        - {{levy.amount | currency:'EUR':'symbol' }}
      </ion-badge>
    </ion-item>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="warning" (click)="presentLevyModal()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
